# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = Zak Nesler
    email = zak@nesler.dev
[core]
    excludesfile = ~/.gitignore_global
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
