.DS_Store

# Zsh
.zcompdump*
*.session
.zsh_sessions/

# Neovim
autoload/
pack/
plugged/
vendor/
packer_compiled.lua
.netrwhist

# Brew
Brewfile.lock*

# Nushell
history.txt
plugin.nu
*.msgpackz

nushell/.config/nushell/scripts*/*.nuon

# Zed
zed/**/conversations/*
zed/**/prompts/*
