.DS_Store

# Brew
brew/.config/homebrew/Brewfile.lock*

# Ghostty
ghostty/.config/ghostty/local.ghostty

# Neovim
nvim/.config/nvim/autoload/
nvim/.config/nvim/pack/
nvim/.config/nvim/plugged/
nvim/.config/nvim/vendor/
nvim/.config/nvim/packer_compiled.lua
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/.minimal
nvim/.config/nvim/lazy-lock.json

# Nushell
nushell/.config/nushell/history.txt
nushell/.config/nushell/plugin.nu
nushell/.config/nushell/*.msgpackz
nushell/.config/nushell/.mode
nushell/.config/nushell/.env.local
nushell/.config/nushell/scripts*/*.nuon

# Wayland
wayland/.config/noctalia/**/colors.json
wayland/.config/noctalia/**/plugins/*
wayland/.config/niri/**/noctalia.kdl

# Zed
zed/.config/zed/conversations/*
zed/.config/zed/prompts/*
