// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

// output "DP-1" {
//   mode "2560x1440@359.979" // Set resolution and refresh rate
//   scale 1 // No scaling (use 2 for HiDPI)
// }

output "Virtual-1" {
  scale 1.5
}
