// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

// Main
output "HDMI-A-1" {
  // I get weird flickering at 240hz :(
  //  -> https://github.com/niri-wm/niri/issues/2597
  // mode "3840x2160@239.991"

  mode "3840x2160@119.880"
  scale 1.25
  position x=0 y=0
  focus-at-startup
}

// Vertical
output "DP-2" {
  mode "2560x1440@144.000"
  transform "270"
  scale 1.25
  position x=3072 y=-100
}
