// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
  keyboard {
    xkb {
      layout "us"
    }

    // enable numlock on startup
    numlock
  }

  touchpad {
    tap // Enable tap-to-click
    natural-scroll // Enable natural (macOS-style) scrolling
  }

  mouse {
    accel-profile "flat"
    accel-speed 0
  }

  // focus-follows-mouse // Automatically focus windows under the mouse pointer
  workspace-auto-back-and-forth // Enable workspace back & forth switching
}
