include "./config/animation.kdl"
include "./config/autostart.kdl"
include "./config/keybinds.kdl"
include "./config/input.kdl"
include "./config/display.kdl"
include "./config/layout.kdl"
include "./config/rules.kdl"
include "./config/misc.kdl"

include optional=true "./noctalia.kdl"
