#!/bin/bash

# Enable aliases to be sudo’ed
alias sudo="sudo "

# Directory Shortcuts
alias co="cd ~/Code"
alias dl="cd ~/Downloads"
alias dot="cd $XDG_CONFIG_HOME/dotfiles"
alias dt="cd ~/Desktop"

# Edit Shortcuts
alias edzsh="$EDITOR $XDG_CONFIG_HOME/zsh/.zshrc"
alias edvim="$EDITOR $MYVIMRC"
alias edali="$EDITOR $XDG_CONFIG_HOME/zsh/.aliases"
alias edexp="$EDITOR $XDG_CONFIG_HOME/zsh/.exports"
alias edfun="$EDITOR $XDG_CONFIG_HOME/zsh/.functions"

# Git
alias gaa="git add -A"
alias gc="git commit -m"
alias gco="git checkout"
alias gcom="git checkout main"
alias gd="git diff"
alias gi="git init"
alias glg="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gpl="git pull"
alias gpsh="git push"
alias grao="git remote add origin"
alias gs="git status"
alias nah="git reset --hard && git clean -df"
alias wip="git add . && git commit -m 'wip' -q"

# PHP
alias cda="composer dump-autoload -o"
alias ci="composer install"
alias cr="composer require"
alias cu="composer update"
alias pe="./vendor/bin/phpunit --exclude-group"
alias pf="./vendor/bin/phpunit --filter"
alias pg="./vendor/bin/phpunit --group"
alias pu="./vendor/bin/phpunit"

# Laravel
alias a="php artisan"
alias mfs="php artisan migrate:fresh --seed"
alias tinker="php artisan tinker"

# Laravel Sail
alias sail="bash vendor/bin/sail"
alias sa="sail artisan"
alias sc="sail composer"
alias sn="sail npm"
alias sp="sail php"
alias sud="sail up -d"

# Docker
alias do="docker"
alias doc="docker-compose"
alias docb="docker-compose build"
alias docd="docker-compose down"
alias doce="docker-compose exec"
alias docr="docker-compose run --rm"
alias docu="docker-compose up -d"
alias do-clean="docker rmi \`docker images -f 'dangling=true' -q\` --force"

# Python
alias activate="source ./venv/bin/activate"
alias act="activate"
alias dact="deactivate"
alias pip="pip3"
alias py="python3"
alias python="python3"

# Utilities
alias copyssh="command cat ~/.ssh/id_rsa.pub | pbcopy"
alias ip="curl https://diagnostic.opendns.com/myip ; echo"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias own="sudo chown -R $USER:$USER"
alias tdb="touch ./database/database.sqlite"
alias weather="curl https://wttr.in/\?u\&0 && echo ''"
alias zd="ssh -qt groot zsh"
alias c~="rm -rf ~/.aws ~/.azure ~/.yarnrc ~/errors.log ~/.sudo_as_admin_successful ~/.wget-hsts ~/.python_history ~/.tailwindcss ~/.omnisharp ~/.nuxtrc ~/.electron ~/.vue-templates ~/.dotnet ~/.racket_history"

# Other
alias c.="code ."
alias cs="cd"
alias l="ls -lAh"
alias ls="ls -hv --color=auto --group-directories-first"
alias o.="o ."
alias o="open"
alias stowall="cd $XDG_CONFIG_HOME/dotfiles && ls -d */ | xargs stow -t $HOME"
alias web="python3 -m http.server"

# XDG overrides
alias units="units --history $XDG_CACHE_HOME/units_history"
alias wget="wget --hsts-file='$XDG_CACHE_HOME/wget-hsts'"
alias yarn="yarn --use-yarnrc $XDG_CONFIG_HOME/yarn/config"

# Always enable colored `grep` output
alias egrep="egrep --color=auto"
alias fgrep="fgrep --color=auto"
alias grep="grep --color=auto"

# OS-specific
if [[ "$OSTYPE" == "linux-gnu"* ]]; then

  alias open="xdg-open"
  alias pbcopy="xclip -selection clipboard"
  alias pbpaste="xclip -selection clipboard -o"

elif [[ "$OSTYPE" == "darwin"* ]]; then

  alias vscode="/usr/local/bin/code"

fi
