#!/bin/bash

# XDG Base Directories
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_RUNTIME_DIR="$XDG_CACHE_HOME/runtime"

# Path (prepend)
export PATH="/usr/local/bin:$PATH"                       # Brew binaries
export PATH="$XDG_CONFIG_HOME/composer/vendor/bin:$PATH" # Composer binaries
export PATH="$HOME/.local/share/npm/bin:$PATH"           # NPM binaries
export PATH="$HOME/.local/bin:$PATH"                     # Python binaries
export PATH="$XDG_DATA_HOME/cargo/bin:$PATH"             # Rust binaries
export PATH="$XDG_DATA_HOME:$PATH"                       # User binaries

# OS-specific
if [[ -d "/run/WSL" ]]; then

  # Java Home
  export JAVA_HOME="/usr/lib/jvm/default-java"

elif [[ "$OSTYPE" == "linux-gnu"* ]]; then

  # Java Home
  export JAVA_HOME="/usr/lib/jvm/default-java"

  # Java GTK
  export CLASSPATH="/usr/share/java/gtk.jar:."

elif [[ "$OSTYPE" == "darwin"* ]]; then

  # Path
  export PATH="$PATH:$HOME/Library/Python/3.9/bin"            # Python pip packages
  export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH" # GNU Coreutils
  export PATH="/usr/local/opt/openjdk/bin:$PATH"              # OpenJDK

  # Java Home
  export JAVA_HOME="/usr/local/opt/openjdk/libexec/openjdk.jdk/Contents/Home"
  export JDK_HOME="/usr/local/opt/openjdk/libexec/openjdk.jdk/Contents/Home"

fi

# XDG Supported Directories
export CARGO_HOME="$XDG_DATA_HOME/cargo"
export CUDA_CACHE_PATH="$XDG_CACHE_HOME/nv"
export DOCKER_CONFIG="$XDG_CONFIG_HOME/docker"
export GNUPGHOME="$XDG_DATA_HOME/gnupg"
export MYVIMRC="$XDG_CONFIG_HOME/vim/vimrc"
export MYZSHRC="$ZDOTDIR/.zshrc"
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME/npm/npmrc"
export NVM_DIR="$XDG_DATA_HOME/nvm"
export PLTUSERHOME="$XDG_DATA_HOME/racket"
export RUSTUP_HOME="$XDG_DATA_HOME/rustup"
export WGETRC="$XDG_CONFIG_HOME/wgetrc"

# Vim
export VIMINIT="source $MYVIMRC"

# p10k
export ZLE_RPROMPT_INDENT=0

# Go Path
export GOPATH="$HOME/Code/Go"

# Default programs
export EDITOR="vim"

# NVM
export NVM_AUTO_USE=true

# Enable persistent REPL history for `node`
export NODE_REPL_HISTORY="$XDG_DATA_HOME/node_repl_history"

# Allow 32³ entries; the default is 1000
export NODE_REPL_HISTORY_SIZE="32768"

# Use sloppy mode by default, matching web browsers
export NODE_REPL_MODE="sloppy"

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr
export PYTHONIOENCODING="UTF-8"

# Increase Bash history size. Allow 32³ entries; the default is 500
export HISTSIZE="32768"
export HISTFILESIZE="${HISTSIZE}"
export HISTFILE="$XDG_DATA_HOME/zsh/history"

# Omit duplicates and commands that begin with a space from history
export HISTCONTROL="ignoreboth"

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}"

# Do not use a less history file
export LESSHISTFILE="-"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Avoid issues with `gpg` as installed via Homebrew
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty)

# Hide the “default interactive shell is now zsh” warning on macOS
export BASH_SILENCE_DEPRECATION_WARNING=1
