#!/bin/bash

# Set-up-project
# Basically, configure cloned Laravel project
function sup {
    composer install
    composer run-script post-root-package-install
    composer run-script post-create-project-cmd
    npm install
}

# Update all global packages and apps
function update {
    echo 'Updating App Store Apps'
    echo '-----------------------'
    mas upgrade

    echo '\nUpdating Homebrew'
    echo '-----------------'
    brew update

    echo '\nUpgrading Brew Packages'
    echo '-----------------------'
    brew upgrade

    echo '\nCleaning Up Homebrew Taps'
    echo '-------------------------'
    brew cleanup

    echo '\nUpdating Global NPM Packages'
    echo '----------------------------'
    npm update -g

    echo '\nUpdating Global Composer Packages'
    echo '---------------------------------'
    composer global update

    echo '\nUpdating pip Packages'
    echo '---------------------------'
    pip list --outdated --format=freeze | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip3 install --user -U
}

# Create a new directory and enter it
function mkd() {
   mkdir -p "$@" && cd "$@"
}

# Fetch all dig info for a URL
# Usage: dns <url>
function dns() {
    dig +nocmd "$1" any +multiline +noall +answer
}

# Create new Laravel Sail project
function sail-create() {
    curl -s https://laravel.build/$1 | bash
    cd $1
}

# Initialize Git repository and create initial commit
function giic() {
    git init
    git add .
    git commit -m "Initial commit"
}
