#!/bin/bash

# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

# Fetch all dig info for a URL
# Usage: dns <url>
function dns() {
    dig +nocmd "$1" any +multiline +noall +answer
}

# Initialize Git repository and create initial commit
function giic() {
    git init
    git add .
    git commit -m "Initial commit"
}

# Install Tailwind
function install-tw() {
    npm install -D tailwindcss@latest postcss@latest autoprefixer@latest
    npx tailwindcss init -p
}

# Create private GitHub repository in current directory
function ghcr() {
    git init
    gh repo create $1 --private --source=. --remote=upstream
    git remote add origin "git@github.com:zaknesler/$1"
}
