#!/bin/bash

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias code="cd ~/Code"

# Git
alias gaa="git add ."
alias gc="git commit -m"
alias gco="git checkout"
alias gcom="git checkout main"
alias gi="git init"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gpl="git pull"
alias gpsh="git push"
alias grao="git remote add origin"
alias gs="git status"
alias nah="git reset --hard && git clean -df"
alias wip="git add . && git commit -m 'wip' -q"

# PHP
alias a="php artisan"
alias c="composer"
alias cda="composer dump-autoload -o"
alias ci="composer install"
alias cr="composer require"
alias cu="composer update"
alias mfs="php artisan migrate:fresh --seed"
alias pe="./vendor/bin/phpunit --exclude-group"
alias pf="./vendor/bin/phpunit --filter"
alias pg="./vendor/bin/phpunit --group"
alias pu="./vendor/bin/phpunit"
alias sail="bash vendor/bin/sail"
alias tinker="php artisan tinker"

# Docker
alias do="docker"
alias doc="docker-compose"
alias docb="docker-compose build"
alias docd="docker-compose down"
alias doce="docker-compose exec"
alias docr="docker-compose run --rm"
alias docu="docker-compose up -d"

# Python
alias activate="venv/bin/activate"
alias pip="pip3"
alias py="python3"
alias python="python3"

# Utilities
alias copyssh='command cat ~/.ssh/id_rsa.pub | pbcopy'
alias ip="curl https://diagnostic.opendns.com/myip ; echo"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias tdb="touch ./database/database.sqlite"
alias weather="curl https://wttr.in/\?u\&0 && echo ''"

# Other
alias l="ls -lAh"
alias o.="o ."
alias o="open"
# alias open="xdg-open" # Ubuntu
alias rb="ruby"

# Always enable colored `grep` output
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias grep='grep --color=auto'
